*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left : 0;
    width: 100vw;
    padding: 2.6vh 13vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #ffffff;
    user-select: none;
    border: 2px solid;
    position: relative;
    right: 6.3vw;
    border: none;
    font-weight: 700;
}

.navigation a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    margin-left: 3.4vw;
    font-weight: 600;
}

.navigation a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -6px;
    color: #ffffff;
    border-radius: 5px;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.6s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLoginpopup{
    height: 6.7vh;
    width: 7.9vw;
    background: transparent;
    border: 2px solid #ffffff;
    outline: 0;
    cursor: pointer;
    user-select: none;
    margin-left: 3.5vw;
    color: #ffffff;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    transition-duration: 1s;
}

.navigation{
    position: relative;
    left: 5.5vw;
}

.navigation .btnLoginpopup:hover {
    background-color: #ffffff;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("Y-flat-design-forest-landscape_23-2149155031.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper{
    position: relative;
    height: 56vh;
    width: 24.2vw;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    backdrop-filter: blur(19px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.login-Box-Form{
    width: 100%;
    padding: 2.0vh;
}

.wrapper .login-Box-Form h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-Box{
    position: relative;
    width: 100%;
    height: 4.2vh;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-Box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    color: #162938;
    pointer-events: none;
    transform: 0.5s;
}

.input-Box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162936;
    font-weight: 600;
    padding: 0 4.37vh 0 0.56vh;

}

.input-Box input:focus~label,
.input-Box input:valid~label{
    top: -5px;
}

.input-Box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162936;
    line-height: 27px;
}

.remember-forget{
    font-size: 0.84em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    color: #162938;
    margin-right: 1px;
    position: relative;
    top: 2px;
}

.remember-forget a{
    color: #162938;
    text-decoration: none;
}

#F5{
    width: 100%;
    height: 4.70vh;
    background: linear-gradient(45deg, #162938, #42080c);
    border-radius: 0.67vh;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register{
    color: #162938;
    font-weight: 500;
    margin: 2.8vh 0 0.1vh;
    font-size: 0.9em;
    text-align: center;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 680;
}

.login-register p a:hover{
    text-decoration: underline;
}

